/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
}

#hero {
  background-image: url("images/torshov.jpg");
  background-size: cover;
  margin: 5px 10px;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h1 {
  background-color: #457b9d;
  padding: 5px;
  margin: 2px;
  font-size: smaller;
}

#hero h2 {
  background-color: #1d3557;
  padding: 5px;
  margin: 5px;
  font-size: smaller;
}

img {
  width: 100px;
}

#activities {
  display: flex;
  flex-direction: row;
  background-color: #f1faee;
  margin-bottom: 50px;
}

.activity-1 img {
  border-radius: 50%;
}
#just {
  background-color: #f1faee;
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
}

#guide {
  width: 400px;
  display: flex;
  margin: 20px auto;
  background-color: #a8dadc;
  padding: 10px;
  border-bottom: 10px solid #457b9d;
  color: #457b9d;
}

#guide img {
  width: 200px;
  border-radius: 10px;
  margin-right: 20px;
}
